.header-wrapper {
  display: flex;
}
.lambda-logo-img {
  width: 7%;
  margin-top: 2%;
}

.header-title {
  display: flex;
  margin: -8% 0 0 8%;
}
h4 {
  margin: 0 7px 0 0;
}
span {
  opacity: 0.5;
  font-size: 14px;
}
.header-content {
  margin-top: -3%;
  margin-left: 8%;
}
